body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav a{
  text-decoration: none!important;
  color:white;
}

nav a:hover, nav a:focus {
  color:white!important;
}

.note-editable{
  min-height: 300px
}

.brand-logo{
  padding-left: 0.3em!important;
}

.mainPage{
  overflow: auto;
  width:100%;
  position:fixed;
  max-height:90%;
  top:100px
}