<template name="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6 class="white-text">Davide Andreazzini</h6>
                    <p class="grey-text text-lighten-4">
                        Email: <a href="mailto:andreazzini.davide@gmail.com">andreazzini.davide@gmail.com</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">Social</h6>
                    <p class="grey-text text-lighten-4" style="font-size:2em">
                        <i class="fa fa-github" ></i>
                        <i class="fa fa-linkedin-square"></i>
                        <i class="fa fa-facebook-square"></i>
                        <i class="fa fa-google-plus-square"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Davide Andreazzini
                <a class="grey-text text-lighten-4 right" href="#!">Made with Meteor</a>
            </div>
        </div>
    </footer>

</template>